body{
    background-color:burlywood;
}
#prompt{
    background-color: black;
    color: white;
    text-align: right;
    column-width: 200px;
}
#drug{
    background-color: darksalmon;
    color: aqua;
}