body {
    background-color:burlywood;
}

#prompt {
    background-color: black;
    color: white;
    margin-left: 700px;
    height: 200px;
    text-align: left;
}

#mini {
    background-color: darksalmon;
    color: aqua;
    display:none;
}
#minip2 {
    background-color: cornsilk;
    color: brown;
    display: none;
}