body{
    background-color:burlywood;
}
#prompt{
    background-color: black;
    color: white;
    width: 1000-900px;
    text-align: right;
}
#drug{
    background-color: darksalmon;
    color: aqua;
}